.conteudo{
    padding: 32px;
    background-color: hsl(219, 30%, 18%);
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: center;

}

.person{
    display: flex;
    padding-top: 16px;
    align-items: center;
}

.img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.text{
    color: #ccc;
}

.name{
    font-size: 14px;
    color: #fff;
}

.textTitulo{
    font-size: 10px;
    color: #ccc;
}